*{
    margin: 0;
    padding: 0;
}
.home-container{
    background-image: url(../home/background-home-desktop.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 35px 0 20px 50px;
}
.logo{
padding-top: 20px;
}
.navList{
    text-align: right;
    background-color: rgba(66, 83, 109, 0.281);
}
.navList ul{
    display: flex;
    padding:20px 30px 20px 100px;
}
.navList ul li{
    list-style: none;
    padding:0 15px;
}
.navList ul li a{
    text-decoration: none;
    color: gray;
    font-size: 20px;
}
.navList ul li a span{
color: white;
}
.navList ul li a.active::after{
    content: '';
    width: auto;
    height: 2px;
    margin-top: 25px;
    margin-bottom: -20px;
    background-color: white;
    display: block;
}
.line{
    width:40%;
    height: 1px;
    margin: 40px -50px -20px 80px;
    background-color: rgba(128, 128, 128, 0.274);
    display: block;
}
.information{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 120px 130px;
}

.text{
    flex-basis:50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(131, 134, 153);
}
.text h2{
    color: white;
    font-size: 165px;
    letter-spacing: 15px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
}
.text h4{
    letter-spacing: 5px;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text p{
    font-size: 20px;
}

.explore{
    background-color: white;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 120px;
}
.fa{
    display: none;
}
.fa-times{
    display: none;
}

@media screen and (min-width:270px) and (max-width:750px){
    .home-container{
        background-image: url(../home/background-home-mobile.jpg);
        width: 100%;
        height: 100%;
        padding-bottom:50px;
        background-repeat: no-repeat;
    }
    .fa{
        color: white;
        font-size: 40px;
        padding:10px 30px 0 0;
        display: block;
    }
    .fa-times{
        padding: 20px;
        display: block;
    }
    .navList{
        background-color: black;
        position: fixed;
        right: -400px;
        top: 0;
        height: 100vh;
        width: 50%;
        text-align: left;
        z-index: 1;
    }
    .navList ul{
        display: flex;
        padding:20px 10px 20px 15px;
    }
    .navList ul li{
        list-style: none;
        padding:15px 0;
    }
    .navList ul li a{
        text-decoration: none;
        color: gray;
        font-size: 20px;
    }
    .information{
        flex-direction: column;
        margin: 120px 30px;
    }
    .text{
        text-align: center;
    }
    .text h4{
        font-size: 16px;
    }
    .text h2{
       font-size: 80px;
       letter-spacing: 6px;
    }
    .text p{
        font-size: 18px;
    }
    .navList ul{
        display:block;
    }
    .explore{
        margin:150px auto 0 auto;
    }
    .line{
        display: none;
    }
}
@media screen and (min-width:751px) and (max-width:1000px){
    .home-container{
        background: url(../home/background-home-tablet.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navList ul li a span{
        display: none;
    }
.information{
    flex-direction: column;
    margin: 120px auto;
}
.text{
    text-align: center;
}
.explore{
    margin:150px auto 0 auto;
}
}
.destination-container{
    background-image: url(../destination/background-destination-desktop.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.flex{
    display: flex;
    margin: 50px 150px 50px 150px;
    gap: 50px;
}
.flex-img p{
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0 50px 0;
}
.flex-img p span{
    color: gray;
    padding: 0 5px;
    font-weight: 600;
}
.flex-img img{
    width: 350px;
    margin-left: 50px;
}
.destination-links ul li{
    list-style: none;
    padding:0 8px;
    display: inline-block;
}
.destination-links ul li a{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.829);
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.destination-links ul li a.active::after{
    content: '';
    width: auto;
    height: 2px;
    margin-top: 7px;
    margin-bottom: -2px;
    background-color: white;
    display: block;
}
.flex-text{
    margin:50px 70px;
}
.flex-text h3{
    color: white;
    font-size: 90px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
.flex-text p{
    color: rgba(245, 245, 245, 0.829);
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.distance{
    display: flex;
    gap: 50px;
}
.distance h4{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.flex-text .line{
    width:100%;
    height: 1px;
    margin:30px 0px 10px 0;
    background-color: rgba(128, 128, 128, 0.274);
    display: block;
}

@media screen and (min-width:270px) and (max-width:700px){
    .destination-container{
        background-image: url(../destination/background-destination-mobile.jpg);
        width: 100%;
        height: 100%;
        padding-bottom:50px;
    }
    .flex{
        flex-direction: column;
        margin: 50px 5px 50px 5px;
    }
    .flex-img img{
        width: 300px;
        margin-left: 35px;
    }
    .flex-text{
        margin:50px 20px;
    }
}
@media screen and (min-width:701px) and (max-width:1000px){
    .destination-container{
        background-image: url(../destination/background-destination-tablet.jpg);
        width: 100%;
        height: 100%;
        padding-bottom:50px;
    }
    .flex{
        flex-direction: column;
        margin: 50px 5px 50px 5px;
    }
    .flex-img img{
        width: 450px;
        margin-left: 35px;
    }
    .flex-text{
        margin:50px 70px;
    }
}

.crew-container{
    background: url(../crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.crew-container .navList ul{
    padding-bottom: 5px;
}
.crew-container p{
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px 0 20px 100px;
}
.crew-container p span{
    color: gray;
    padding: 0 10px;
    font-weight: 600;
}
.crew-row{
    display: flex;
}
.crew-img img{
    width: 405px;
    height: 422px;
}
.crew-col{
    flex-basis: 50%;
    margin: 50px 0 0px 100px;
}
.crew-col h3{
    color: white;
    font-size: 45px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}
.crew-col h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgba(245, 245, 245, 0.829);
    text-transform: uppercase;
    font-weight: 100;
}
.crew-col p{
    color: rgba(230, 227, 227, 0.829);
    font-size: 20px;
    font-weight: 300;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left:0 ;
}
.carousel-indicators button.active {
    background-color: white !important;
  }
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 0;
    margin-right: 15px;
    margin-top: 50%;
    text-indent: -909px;
    cursor: pointer;
    background-color:rgba(255, 255, 255, 0.459) !important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    transition: opacity .6s ease;
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: left;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 8%;
    list-style: none;
}

@media screen and (min-width:270px) and (max-width:1000px){
.crew-container{
    height: 100%;
    padding-bottom: 50px;
}
.crew-container p{
    margin-left: 0;
}
.crew-row{
    flex-direction: column;
}
.crew-col{
    margin-left: 20px;
}
.crew-img img{
    width: 400px;
    height: 422px;
}
}

.technology-container{
    background: url(../technology/background-technology-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.technology-container p{
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px 0 20px 100px;
}
.technology-container p span{
    color: gray;
    padding: 0 10px;
    font-weight: 600;
}
.technology{
    display: flex;
    gap: 50px;
    margin: 0 0 0 100px;
}
.technology-links{
    margin-top: 50px;
}
.technology-links ul li{
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 0 30px 0;
}
.technology-links ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.technology-links ul li.active{
    background-color: white;
}
.technology-links ul li a.active{
    color: black;
}
.technology-col{
    margin-top: 50px;
}
.technology-col p{
    color: rgba(245, 245, 245, 0.829);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
.technology-col h3{
    color: white;
    font-size: 70px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
.technology-col h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(245, 245, 245, 0.829);
    text-transform: uppercase;
    font-weight: 400;
}
.technology-img img{
    width: 350px;
    height: 100%;
    margin:0 0px 0 70px;
}
.technology-img{
    display: block;
}
.technology-img2{
    display: none;
}
.link_text{
    display: flex;
    gap: 50px;
}
@media screen and (min-width:270px) and (max-width:700px){
.technology-container{
    background-image: url(../technology/background-technology-mobile.jpg);
    width: 100%;
    height: 100%;
    padding-bottom:130px;
}
.technology{
    flex-direction: column;
    margin-left: 20px;
}
.technology-links ul li{
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    width: 30px;
    height: 30px;
}
.technology-col h3{
    font-size: 35px;
}
.technology-col p{
    font-size: 17px;
}
.link_text{
    gap: 30px;
}
.technology-img img{
    width: 350px;
    height: 100%;
    margin:0 0px 0 0px;
}
.technology-img2{
    display: block;
}
.technology-img2 img{
    width: 95%;
    height: auto;
}
.technology-img{
    display: none;
}
}


@media screen and (min-width:701px) and (max-width:1000px){
    .technology-container{
        background-image: url(../technology/background-technology-tablet.jpg);
        width: 100%;
        height: 100%;
        padding-bottom:50px;
    }
    .technology{
        flex-direction: column;
        margin-left: 20px;
    }
    .technology-img2{
        display: block;
    }
    .technology-img{
        display: none;
    }
}

@media screen and (min-width:1000px) and (max-width:1150px){
    .technology-container{
        height: 100%;
        padding-bottom:50px;
    }
}
          /*Reflection*/

/* -webkit-box-reflect: below 0 linear-gradient(
    rgb(0, 0, 0, 0.5),
    rgb(0, 0, 0, 1)
); */


